
@{
    ViewBag.Title = "PhotoUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mycontainer">
    @using (Html.BeginForm("UploadControlUpload", "Members", FormMethod.Post))
    {
        @Html.DevExpress().UploadControl(settings =>
        {
            settings.Name = "UploadControl";
            settings.CallbackRouteValues = new { Controller = "Members", Action = "UploadControlUpload" };


            settings.ShowUploadButton = true;
            settings.ShowProgressPanel = true;

            settings.ValidationSettings.Assign(ShepherdAid.Controllers.MembersControllerUploadControlSettings.UploadValidationSettings);
        }).GetHtml()
    }
</div>


