@model IEnumerable<ShepherdAid.Models.ObligationType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mybreadcrumb">
    Obligation Type List
</div>

<fieldset>
    <legend>List of Obligation Types</legend>
    <div class="col-md-5">

        <div class="search-area">
            <div class=" col-md-11 col-xs-11">
                @using (Html.BeginForm())
                {
                <div class="input-group">
                    <input type="text" class="form-control search-field" placeholder="Search" id="search" name="search" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>

                    </div>
                </div>
                @*</form>*@
                }
            </div>
            <div class="col-md-1 col-xs-1 new-record">
                <a href="~/ObligationTypes/Create" title="Create New"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>

        @if (Model != null && Model.Count() > 0)
        {
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ObligationName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObligationName)
                        </td>
                        <td class="nowrap">
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @title = "Delete" })|
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash", @title = "Delete" })
                        </td>
                    </tr>
                }

            </table>
        }
    </div>
</fieldset>
